@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.page {
  /* justify-content: center; */
  text-align: center;
  /* padding: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-family: 'Old Standard TT', serif;
    font-stretch: ultra-condensed;
    letter-spacing: 0px;
}

.banner {
  font-family: 'Old Standard TT', serif;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

@media only screen
and (min-width: 900px) {
  .content {
    margin-top: 120px;
  }
}

@media only screen
and (max-width: 900px) {
  .content {
    margin-top: 50px;
  }
}